In [1]:
# import thư viện
import numpy as np
import pandas as pd

In [2]:
# load data
data = pd.read_csv('1.csv', encoding= 'utf-8')
data.head(10)

           artist                             author  ...     view   words
0             NaN                              風井明日香  ...    36519   28056
1             NaN                             Serian  ...    10448   27307
2           Fuumi                          Natsunomi  ...   284252  203751
3             NaN                    Gennou Tomohiro  ...       21    2953
4            Toi8                 門司柿家 ( Mojikakiya)  ...    37612   28303
5  Achiki [ Aちき ]                        Izumi [ 泉 ]  ...   117953   96163
6             NaN  Agar Jelly / Kanten Jelly / 寒天ゼリヰ  ...     1440    1777
7     たん旦; Tantan                   氷高悠 ; Yuu Hidaka  ...  1040894  123056
8           chibi                      Kuji Furumiya  ...    20819  113943
9           Chyko                          Tsukikage  ...   828489  557744

[10 rows x 8 columns]

In [16]:
df_1 = data['gernes']
df_1

0       Comedy,Romance,Supernatural,Web Novel,Slice of...
1       Comedy,Fantasy,Historical,Josei,Korean Novel,P...
2                Comedy,Romance,School Life,Slice of Life
3                                        One shot,Romance
4                                          Comedy,Fantasy
                              ...
1929        Drama,Harem,Romance,School Life,Slice of Life
1930     Comedy,Romance,School Life,Shounen,Slice of Life
1931             Comedy,Romance,School Life,Slice of Life
1932    Action,Adventure,Drama,Fantasy,Horror,Mature,P...
1933    Adult,Drama,Mature,Netorare,Psychological,Scho...
Name: gernes, Length: 1934, dtype: object

In [22]:
# Đếm có bao nhiêu Ln/ WN thuộc thể loại Action, Comedy
count = 0
for i in df_1:
  isAction = False 
  isComedy = False
  t = i.split(',') # chuyển string thành list. Ex: 'a, b, c' -> ['a', 'b', c'']
  for x in t:
    x = x.strip() # xoá khoảng trắng đầu và cuối kí tự ex: ' a' or 'a ' -> 'a'
    if x == 'Comedy':
      isComedy = True
    if x == 'Action':
      isAction = True
  if isComedy == True and isAction == True:
    count += 1
print(count)

479

In [29]:
# Đếm có bao nhiêu truyện thuộc thể loại Romance
count = 0
for i in df_1:
  isRomance = False
  t = i.split(',')
  for x in t:
    x = x.strip()
    if x == 'Romance':
      isRomance = True
  if isRomance == True:
    count+=1
  
print(count)

1182

In [45]:
# list các thể loại truyện
gernes = []
for i in df_1:
  t = i.split(',')
  for x in t:
    x = x.strip()
    if x not in gernes:
      gernes.append(x)

In [46]:
gernes.sort() # sắp xếp theo bảng chữ cái
print(gernes)
print(len(gernes))

['Action', 'Adapted to Anime', 'Adapted to Drama CD', 'Adapted to Manga', 'Adult', 'Adventure', 'Chinese Novel', 'Comedy', 'Cooking', 'Drama', 'Ecchi', 'English Novel', 'Fantasy', 'Game', 'Gender Bender', 'Harem', 'Historical', 'Horror', 'Incest', 'Isekai', 'Josei', 'Korean Novel', 'Magic', 'Martial Arts', 'Mature', 'Mecha', 'Military', 'Mystery', 'Netorare', 'One shot', 'Otome Game', 'Psychological', 'Reverse Harem', 'Romance', 'School Life', 'Science Fiction', 'Seinen', 'Shoujo', 'Shoujo ai', 'Shounen', 'Shounen ai', 'Slice of Life', 'Sports', 'Super Power', 'Supernatural', 'Suspense', 'Tragedy', 'Web Novel', 'Yuri']
49

In [47]:
# số truyện có có trong từng thể loại
gernes_count =[]
def gerne_count(X):
  count = 0
  for i in df_1:
    isA = False
    t = i.split(',')
    for x in t:
      x = x.strip()
      if x == X:
        isA = True
    if isA == True:
      count+=1
  return count
for i in gernes:
  gernes_count.append(gerne_count(i))

In [50]:
print(gernes_count)

[939, 64, 17, 203, 105, 831, 53, 1022, 22, 621, 327, 2, 1187, 58, 86, 615, 43, 87, 17, 332, 45, 131, 213, 64, 182, 44, 43, 200, 6, 74, 31, 210, 6, 1182, 508, 117, 211, 144, 75, 271, 8, 526, 3, 156, 335, 18, 209, 564, 53]